<?xml version="1.0"?>

<launch>

  <arg name="waypoint_config" default="/home/koki/box2/waypoint_server.yaml"/>
  <!-- <arg name="waypoint_config" default="$(find orne_box_navigation_executor)/config/waypoint_server/waypoint_server.yaml"/> -->
  <arg name="costmap_file"   default="/home/koki/box2/tsukuba_shirasu_for_costmap.yaml"/>

  <include file="$(find orne_box_navigation_executor)/launch/waypoint_server.launch">
    <arg name="config_file" value="$(arg waypoint_config)"/>
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_map_for_costmap" args="0 0 0 0 0 0 map map_for_costmap" />

  <node pkg="map_server" type="map_server" name="map_server_for_costmap" args="$(arg costmap_file)">
    <remap from="/map" to="/map_for_costmap"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find orne_box_navigation_executor)/rviz/edit.rviz"/>
</launch>
